[submodule "fs-extra"]
	path = fs-extra
	url = git://github.com/jprichardson/node-fs-extra.git
[submodule "wrench"]
	path = wrench
	url = git://github.com/ryanmcgrath/wrench-js.git
[submodule "mkdirp"]
	path = mkdirp
	url = git://github.com/substack/node-mkdirp.git
[submodule "rimraf"]
	path = rimraf
	url = git://github.com/isaacs/rimraf.git
[submodule "walk"]
	path = walk
	url = git://github.com/coolaj86/node-walk.git
[submodule "node-walker"]
	path = node-walker
	url = git://github.com/klovadis/node-walker.git
